/*Memory_Palace*/
#container_palace{
    width: 600px;
    height: 800px;
    margin: 100px auto 100px auto;

    /*border: 1px solid skyblue;*/
    border-radius: 15px;
}

#main_menu{
    width: 300px;
    height: 400px;
    margin: auto;
    border-radius: 15px;
    padding: 2rem;
}

/*Game Section*/
.btn-palace{
    border-radius: 10px;
    width: 80%;
    /*padding: 10px;*/
    margin: 0 auto 0 auto;
}

#game {
    /*border: 1px solid crimson;*/
    display: flex;
    height: 95%;
    width: 95%;
    border-radius: 15px;
    padding: 1rem;
}

.game-text-center{
    text-align: center;
    align-items: center;
}

.game-panel{
    display: grid;
    grid-template-rows: 70% 30%;
    /*border: 1px solid floralwhite;*/
}

.game-side-panel{
    width: 25%;
}
.game-main-panel{
    width: 50%;
}

.game-phase-btn{
    display: grid;
    height: 90%;
    margin: 10% auto 0 auto;
}

#game-recall-btns{
    display: flex;
    /*justify-content: center;*/
}

.btn-recall-hidden{
    visibility: hidden;
}

#cards_display{
    /*text-align: center;*/
}

.recall_display{
    display: grid;
    width: auto;
    height: 100%;
}

#incorrect-recall{
    margin: 0 0.5rem 1rem 1rem;
}
#correct-recall{
    margin: 0 1rem 1rem 0.5rem ;
}

#middle-controls{
    display: grid;
}

.paused{
    background-color: #4d4c4c;
}

.score-element{
    display: grid;
    grid-template-columns: 5fr 2fr;
}

#canvas{
    width: 100%;
    height: 400px;
    z-index: 10;
}

/*Tutorial Section*/
#tutorial{
    display: grid;
    grid-template-rows: 10% 60% 20% 10%;
    height: 95%;
    width: 95%;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
}

#tutorial-btns{
    display: flex;
    margin: 1rem;
}