@media all and (min-width: 577px) and (max-width: 922px) {

/*    Nav Bar*/
    .nav-btns{
        height: 55px;
        grid-area: menu;
    }

    .btn{
        width: 80px;
    }
/*    Home*/
    #home-panel{
        width: 460px;
        height: 250px;
        margin: 100px auto 0 auto;
    }

/*    Projects*/

/*    CV*/
    .cv{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #cv-main{
        margin: 1rem 0.5rem 1rem 1rem;
    }

    #cv-details{
        margin: 1rem 1rem 1rem 0.5rem;
    }

    .cv-details-icon-panel{
        margin: auto;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .fcc-icons-wrapper{
        width: 150px;
    }

/*    Contact*/

    #contact{
        margin: auto;
        width: 480px;
    }

    .form-control{
        width: 100%;
    }
/*    Footer*/
}